---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Pro Menorca | Cookies" description="Cookies">
    <main>
        <h1>Política de Cookies</h1>
        <h2>promenorca.com</h2>
        <p>El acceso a este sitio web implica el uso de cookies, pequeños archivos almacenados en el navegador del usuario. Estas cookies ayudan a mejorar la navegación y la experiencia en el sitio.</p>
        <p>Las cookies que usamos son de terceros, y nos permiten obtener estadísticas de acceso y analizar la navegación de los usuarios. No recogen datos personales, salvo que el usuario los proporcione explícitamente.</p>
        
        <h3>Cookies de Terceros</h3>
        <p>Las cookies que utilizamos son gestionadas por entidades externas, como <strong>Umami Cloud</strong>, que nos proporcionan estadísticas de acceso. Para más información sobre las cookies utilizadas y cómo gestionarlas, puedes consultar el siguiente enlace:</p>
        <ul>
            <li>Umami Cloud: <a href="https://umami.is/docs" target="_blank">https://umami.is/docs</a></li>
        </ul>
        
        <p>La información recopilada por estas cookies se utiliza para mejorar la calidad del servicio. Las entidades responsables de las cookies pueden compartir información con terceros si es requerido por ley o cuando estos procesen la información en su nombre.</p>
        
        <h3>Deshabilitar, Rechazar y Eliminar Cookies</h3>
        <p>El usuario puede gestionar las cookies mediante la configuración de su navegador (Chrome, Firefox, Safari, etc.). Si rechazas las cookies, algunas funcionalidades del sitio web podrían no estar disponibles. A continuación, te mostramos cómo puedes configurar las cookies en diferentes navegadores:</p>
        <ul>
            <li><a href="https://support.google.com/chrome/answer/95647?hl=es" target="_blank">Chrome</a></li>
            <li><a href="https://support.mozilla.org/es/kb/borrar-cookies-guardar-information-web" target="_blank">Firefox</a></li>
            <li><a href="https://support.apple.com/es-es/guide/safari/sfri11471/mac" target="_blank">Safari</a></li>
            <li><a href="https://support.microsoft.com/es-es/edge" target="_blank">Edge</a></li>
        </ul>
        
        <h3>Consentimiento</h3>
        <p>Al continuar navegando en este sitio web, el usuario acepta el uso de cookies. Si no estás de acuerdo con el uso de cookies, puedes configurar tu navegador para rechazar las cookies o bien abandonar el sitio.</p>
        
        <p>Documento generado el 25/02/2025 mediante un generador de plantillas de política de cookies.</p>
    </main>
</Layout>

<style>
    main {
        width: 90%;
        max-width: 1500px;
        margin: auto;
        margin-top: 150px;
    }

    h1 {
        text-align: center;
    }

    h2 {
        text-align: center;
        color: var(--color-grey);
        margin-bottom: 50px;
    }

    p {
        font-size: 1.1rem;
        margin-bottom: 20px;
        color: var(--color-grey);
    }

    h3 {
        color: var(--color-red);
    }

    ul {
        margin-left: 50px;
        margin-top: -20px;
        margin-bottom: 20px;
    }

    li {
        color: var(--color-grey);
    }

    a {
        color: var(--color-blue);
    }
</style>
