---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Pro Menorca | Cookies" description="Cookies">
    <main>
        <h1>Política de cookies</h1>
        <h2>promenorca.com</h2>
        <p>El acceso a este sitio web puede implicar el uso de cookies, pequeños archivos almacenados en el navegador del usuario que facilitan la navegación y mejoran la experiencia en el sitio. Estas cookies permiten recordar información relevante sin dañar el dispositivo del usuario.</p>
        <p>Las cookies recopilan datos sobre las preferencias del usuario durante su visita con el objetivo de personalizar su experiencia y optimizar el uso del sitio. También pueden ayudar a detectar y solucionar errores. La información recogida puede incluir la fecha y hora de la visita, páginas vistas, tiempo de permanencia y sitios visitados antes y después. Sin embargo, las cookies no pueden acceder a información personal a menos que el usuario la proporcione voluntariamente.</p>
        <p>Las cookies que identifican a una persona se consideran datos personales y están sujetas a la Política de Privacidad. Su uso requiere el consentimiento del usuario, que debe ser otorgado de forma explícita, antes del tratamiento de los datos, y podrá ser revocado en cualquier momento.</p>
        <h3>Cookies de terceros</h3>
        <p>Estas cookies son gestionadas por entidades externas y permiten obtener estadísticas de acceso y analizar la navegación de los usuarios en el sitio web. Se recopila información anónima sobre el número de visitas, idioma, ubicación, navegador, dispositivo y otros parámetros para mejorar la calidad del servicio.</p>
        <p>Más información sobre las cookies utilizadas:</p>
        <ul>
            <li>Umami Cloud: https://umami.is/docs</li>
        </ul>
        <p>Las entidades responsables de estas cookies pueden compartir la información recopilada con terceros cuando la ley lo requiera o cuando dichos terceros procesen la información en su nombre.</p>
        <h3>Deshabilitar, rechazar y eliminar cookies</h3>
        <p>El usuario puede gestionar las cookies a través de la configuración de su navegador (Chrome, Firefox, Safari, Explorer, etc.). Los procedimientos varían según el navegador utilizado, por lo que se recomienda consultar las instrucciones del navegador correspondiente. El rechazo de cookies puede afectar algunas funcionalidades del sitio web.</p>
        <p>Documento generado el 25/02/2025 mediante un generador de plantillas de política de cookies.</p>
    </main>
</Layout>

<style>
    main {
        width: 90%;
        max-width: 1500px;
        margin: auto;
        margin-top: 150px;
    }

    h1 {
        text-align: center;
    }

    h2 {
        text-align: center;
        color: var(--color-grey);
        margin-bottom: 50px;
    }

    p {
        font-size: 1.1rem;
        margin-bottom: 20px;
        color: var(--color-grey);
    }

    h3 {
        color: var(--color-red);
    }

    ul {
        margin-left: 50px;
        margin-top: -20px;
        margin-bottom: 20px;
    }

    li {
        color: var(--color-grey);
    }
</style>