---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Planes from '../components/Planes.astro';
---

<Layout>
    <main>
        <Hero />
        <Planes />
        
    </main>
</Layout>

<style>
</style>