---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Planes from '../components/Planes.astro';
import ContactForm from '../components/ContactForm.astro';
import Catalogo from '../components/Catalogo.astro';
import FAQS from '../components/FAQS.astro';
import Newsletter from '../components/Newsletter.astro';
---

<Layout title="Pro Menorca | Consigue GRATIS la web de tu restaurante" description="¿Tienes un restaurante pero aún no tienes web? En Pro Menorca creamos tu página web profesional en solo unos días. ¡Disfrútala gratis hasta octubre y atrae más clientes desde hoy!">
    <main>
        <Hero />
        <Planes />
        <!-- <section>
            <h2>¿Ninguno de estos planes de ajusta a lo que buscas?</h2>
            <p>No importa, cuéntanos lo que quieres y nosotros te ofrecemos una solución.</p>
            <ContactForm campos={["restaurant", "message"]} messagePlaceholder="Mensaje..." />
        </section> -->
        <Catalogo />
        <FAQS />
        <Newsletter />
    </main>
</Layout>

<style>
    h2 {
        text-align: center;
        font-size: 2.5rem;
        padding-top: 80px;
        line-height: 2.5rem;

    }

    p {
        text-align: center;
        font-size: 1.3rem;
        line-height: 1.3rem;
        margin-top: 5px;
    }
</style>