<!-- ---
import Layout from '../layouts/Planes.astro';
---

<Layout 
    title="Pro Menorca | Único en su salsa" 
    description="Consigue la web profesional de tu restaurante en solo unos días. En Menorca Pro te la ofrecemos gratis hasta octubre. ¡Aprovecha esta oportunidad y atrae más clientes!"
    headerTitle="Único en su salsa"
    headerSubtitle="Porque tu restaurante merece destacar con un diseño exclusivo"
    color="var(--color-yellow)"
    text1="Si buscas algo más exclusivo, el Plan Intermedio es la opción perfecta para ti. Con este plan, te ofrecemos un diseño único que no estará disponible para nadie más."
    text2="Tu web destacará entre el resto, con un diseño totalmente único y sin competencia visual. Además de ser un diseño exclusivo, podrás agregar toda la información relevante de tu negocio, desde el menú hasta los horarios. Este plan te permite diferenciarte de la competencia, con una presencia digital única y atractiva que hará que tu restaurante destaque. ¡Haz que tu web sea tan única como tu negocio!"
>

</Layout> -->

---
import Layout from '../layouts/Layout.astro';
---

<Layout 
    title="Pro Menorca | Único en su salsa" 
    description="Consigue la web profesional de tu restaurante en solo unos días. En Menorca Pro te la ofrecemos gratis hasta octubre. ¡Aprovecha esta oportunidad y atrae más clientes!"
>

<div>
    <p>Lo sentimos, nuestro plan intermedio aún no está disponible. Estamos trabajando en ello y pronto lo haremos disponible para todos los restaurantes. Haz click <a href="../">aquí</a> para ir a nuestra página de inicio.</p>
</div>

</Layout>

<style>
    div {
        margin: auto;
        margin-top: 200px;
        width: 90%;
        max-width: 1500px;
    }

    p {
        font-size: 3rem;
        line-height: 2.5rem;
        text-align: center;
    }

</style>