<!-- ---
import Layout from '../layouts/Planes.astro';
---

<Layout 
    title="Pro Menorca | Mesa para todos" 
    description="Consigue la web profesional de tu restaurante en solo unos días. En Menorca Pro te la ofrecemos gratis hasta octubre. ¡Aprovecha esta oportunidad y atrae más clientes!"
    headerTitle="Mesa para todos"
    headerSubtitle="Haz que tus clientes reserven con facilidad"
    color="var(--color-red)"
    text1="Si lo que buscas es una solución completa que combine un diseño único con una funcionalidad avanzada, el Plan Completo es lo que necesitas. Este plan incluye un diseño exclusivo, además de un sistema de reservas integrado, lo que te permitirá gestionar las mesas de tu restaurante de manera eficiente."
    text2="No solo tendrás una web única, sino que también contarás con un sistema de reservas que optimiza la experiencia de tus clientes y facilita la gestión de tu restaurante. Olvídate de las reservas por teléfono o en papel y comienza a gestionar todo de manera digital. Con este plan, tu restaurante estará preparado para ofrecer una experiencia online profesional y sin errores, asegurando que cada cliente pueda reservar su mesa con facilidad. ¡Haz crecer tu negocio y mejora la gestión de tu restaurante hoy mismo!"
>

</Layout> -->

---
import Layout from '../layouts/Layout.astro';
---

<Layout 
    title="Pro Menorca | Mesa para todos" 
    description="Consigue la web profesional de tu restaurante en solo unos días. En Menorca Pro te la ofrecemos gratis hasta octubre. ¡Aprovecha esta oportunidad y atrae más clientes!"
>

<div>
    <p>Lo sentimos, nuestro plan avanzado aún no está disponible. Estamos trabajando en ello y pronto lo haremos disponible para todos los restaurantes. Haz click <a href="../">aquí</a> para ir a nuestra página de inicio.</p>
</div>

</Layout>

<style>
    div {
        margin: auto;
        margin-top: 200px;
        width: 90%;
        max-width: 1500px;
    }

    p {
        font-size: 3rem;
        line-height: 2.5rem;
        text-align: center;
    }

</style>