---
import Prototipos from '../components/Prototipos.astro';
import ContactForm from '../components/ContactForm.astro';
---

<section class="catalogo" id="catalogo">
    <h2>Catálogo</h2>
    <Prototipos />
    <h3 id="contacto">¿Ya has encontrado tu prototipo ideal?</h3>
    <p>Una vez completes el formulario, nos pondremos en contacto contigo para comenzar a trabajar en tu proyecto y entregártelo lo antes posible.</p>
    <ContactForm campos={["restaurant", "proto", "plan", "message"]} messagePlaceholder="Mensaje" />
</section>

<style>
    .catalogo {
        width: 90%;
        max-width: 1500px;
        margin: auto;
        margin-top: 100px;
        text-align: center;
    }

    h3 {
        margin-top: 100px;
        font-size: 2rem;
    }

    p {
        width: 630px;
        max-width: 100%;
        margin: auto;
        line-height: 1.2rem;
    }
</style>