<section class="faqs">
    <h2>FAQS</h2>

    <div>
        <details class="green">
            <summary>¿Cuánto tiempo tarda en estar lista mi web?</summary>
            <p>Dependiendo del plan que elijas, tu web estará lista en un plazo de 5 a 10 días hábiles. El Plan Básico es el más rápido, mientras que los planes con diseño personalizado pueden tardar un poco más.</p>
        </details>
    
        <details class="yellow">
            <summary>¿Puedo modificar mi web después de que esté lista?</summary>
            <p>Sí, ofrecemos soporte técnico a través de correo electrónico y teléfono.</p>
        </details>
    
        <details class="red">
            <summary>¿Qué sucede si necesito ayuda para gestionar mi sistema de reservas?</summary>
            <p>Sí, puedes cambiar de plan en cualquier momento, simplemente contáctanos para hacerlo.</p>
        </details>    

        <details class="green">
            <summary>¿El diseño de la web es realmente único para mi restaurante?</summary>
            <p>Nuestro horario de atención es de lunes a viernes, de 9:00 AM a 6:00 PM.</p>
        </details>
    
        <details class="yellow">
            <summary>¿Cómo funciona el sistema de reservas?</summary>
            <p>Sí, ofrecemos soporte técnico a través de correo electrónico y teléfono.</p>
        </details>
    
        <details class="red">
            <summary>¿Puedo cambiar el contenido de la web en el futuro?</summary>
            <p>Sí, puedes cambiar de plan en cualquier momento, simplemente contáctanos para hacerlo.</p>
        </details>    

        <details class="green">
            <summary>¿Tengo que pagar por el alojamiento de la web?</summary>
            <p>Nuestro horario de atención es de lunes a viernes, de 9:00 AM a 6:00 PM.</p>
        </details>  
    </div>
</section>

<style>
    .faqs {
        width: 100%;
        margin-top: 70px;
        padding: 30px;
        background-color: var(--color-white);
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .faqs div {
        width: 800px;
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: 5px;
        border-radius: 10px;
    }

    .green {
        background-color: var(--color-green);
    }

    .yellow {
        background-color: var(--color-yellow);
    }

    .red {
        background-color: var(--color-red);
    }

    .faqs h2 {
        text-align: center;
        margin-bottom: 20px;
        font-size: 2rem;
    }

    details {
        margin-bottom: 15px;
        padding: 10px;
        color: #fff;
    }

    summary {
        font-size: 1.1rem;
        font-weight: bold;
        cursor: pointer;
        color: var(--color-dark);
        padding: 5px 10px;
        transition: background-color 0.3s;
    }

    p {
        padding: 10px;
        font-size: 1rem;
        color: var(--color-dark);
        background-color: var(--color-light-grey);
        border-radius: 5px;
        margin-top: 10px;
        border-top: 1px solid var(--color-white);
    }
</style>
