---

---

<footer>
    <div>
        <img src="/logo-verde.avif" alt="Menorca Pro">
        <ul class="footer-legal">
            <li>Legal</li>
            <li><a href="#politica-de-privacidad">Política de Privacidad</a></li>
            <li><a href="#aviso-legal">Aviso Legal</a></li>
            <li><a href="#politica-de-cookies">Política de Cookies</a></li>
        </ul>
        <ul class="footer-plan">
            <li>¿Qué plan necesitas?</li>
            <li><a href="#plan-básico">El que no corre vuela - 30€ / mes</a></li>
            <li><a href="#plan-intermedio">Único en su salsa - 100€ + 30€ / mes</a></li>
            <li><a href="#plan-profesional">Mesa para todos - 600€ + 30€ / mes</a></li>
        </ul>
        <ul class="footer-contact">
            <li>Contacta con nosotros</li>
            <li><a href="mailto:hola@promenorca.com">hola@promenorca.com</a></li>
            <li><a href="#instagram">@promenorca</a></li>
            <li><a href="#formulario">Formulario de contacto</a></li>
        </ul>
    </div>
</footer>

<style>
	footer {
        width: 100%;
        background-color: var(--color-red);
        height: 400px;
        margin-top: 100px;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    div {
        max-width: 1500px;
        width: 90%;
        margin: auto;
        height: 100%;
        padding: 50px 0;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;   
    }

    img {
        width: 200px;
        height: auto;
        align-self: start;
    }

    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    li {
        color: var(--color-white);
        text-decoration: none;
        font-size: 1.2rem; 
    }

    a {
        color: var(--color-white);
        text-decoration: none;
        font-size: 1rem;
    }

    @media screen and (max-width: 1100px) {
        div {
            justify-content: center;
            gap: 100px;
            text-align: center;
        }
        .footer-contact {
            width: 90%;
            justify-content: center;
            align-items: center;
            margin-top: -50px;
        }

        footer {
            height: auto;
        }
    } 

    @media screen and (max-width: 900px) {
        div {
            flex-direction: column;
        }

        div ul {
            margin-top: -50px;
        }

        img {
            margin: auto;
        }
    }
</style>
