---

---

<header>
	<div>
		<img src="/logo.avif" alt="Menorca Pro">
		<nav>
			<a class="header-nav__item" href="../">Inicio</a>
			<a class="header-nav__item" href="#catalogo">Catálogo</a>
			<a class="header-nav__item" href="#newsletter">Newsletter</a>
			<a href="/contacto" class="header-nav__contacto">Hablemos</a>
			<span class="header-nav__menu"><svg width="28" height="28" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.5 21v-2.333h21V21h-21Zm0-5.833v-2.334h21v2.334h-21Zm0-5.834V7h21v2.333h-21Z" fill="#fff"/></svg></span>
			<svg class="header-nav-cross" viewBox="0 -0.5 25 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.97 16.47a.75.75 0 1 0 1.06 1.06l-1.06-1.06Zm6.06-3.94a.75.75 0 1 0-1.06-1.06l1.06 1.06Zm-1.06-1.06a.75.75 0 1 0 1.06 1.06l-1.06-1.06Zm6.06-3.94a.75.75 0 0 0-1.06-1.06l1.06 1.06Zm-5 3.94a.75.75 0 1 0-1.06 1.06l1.06-1.06Zm3.94 6.06a.75.75 0 1 0 1.06-1.06l-1.06 1.06Zm-5-5a.75.75 0 1 0 1.06-1.06l-1.06 1.06ZM8.03 6.47a.75.75 0 0 0-1.06 1.06l1.06-1.06Zm0 11.06 5-5-1.06-1.06-5 5 1.06 1.06Zm5-5 5-5-1.06-1.06-5 5 1.06 1.06Zm-1.06 0 5 5 1.06-1.06-5-5-1.06 1.06Zm1.06-1.06-5-5-1.06 1.06 5 5 1.06-1.06Z" fill="#fff"/></svg>
		</nav>
	</div>
</header>

<nav class="header-mobile-nav">
	<a class="header-mobile-nav__item" href="#inicio">Inicio</a>
	<a class="header-mobile-nav__item" href="#catalogo">Catálogo</a>
	<a class="header-mobile-nav__item" href="#newsletter">Newsletter</a>
</nav>

<style>
	
header {
	width: 100%;
	background-color: var(--color-white);
	height: 90px;

	display: flex;
	align-items: center;
	position: fixed;
	top: 0;
	z-index: 1001;
}

header div {
	max-width: 1500px;
	width: 90%;
	margin: auto;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

header img {
	width: 135px;
	height: auto;
}

nav {
	display: flex;
	gap: 40px;
	justify-content: center;
	align-items: center;
}

nav a {
	color: var(--color-grey);
	text-decoration: none;
	font-size: 16px;
}

nav a:hover {
	text-decoration: underline;
}

header nav a.header-nav__contacto {
	background-color: var(--color-red);
	color: var(--color-white);
	padding: 8px 20px;
	margin-left: 7px;
}

header nav a.header-nav__contacto:hover {
	background-color: var(--color-red-hover);
}

.header-nav__menu {
	display: none;
}

.header-mobile-nav {
	display: none;
	flex-direction: column;
	gap: 10px;
}

@media screen and (max-width: 720px) {
	header nav {
		gap: 20px;
	}

	.header-nav__menu {
		display: block;
		background-color: var(--color-green);
		display: flex;
		align-items: center;
		justify-content: center;
		height: 45px;
		width: 45px;
	}

	.header-nav-cross {
		background-color: var(--color-green);
		display: flex;
		align-items: center;
		justify-content: center;
		height: 45px;
		width: 45px;
		display: none;
	}

	.header-nav__item {
		display: none;
	}

	.header-mobile-nav {
		display: flex;
		background-color: #fff;
		width: 100%;
		height: 100vh;
		position: fixed;
		top: 0;
		z-index: 1000;
		display: none;
	}	
}
</style>

<script>

const menu = document.querySelector('.header-nav__menu') as HTMLElement;
const cross = document.querySelector('.header-nav-cross') as HTMLElement;
const mobileNav = document.querySelector('.header-mobile-nav') as HTMLElement;

menu.addEventListener('click', () => {
	menu.style.display = 'none';
	cross.style.display = 'flex';

	mobileNav.style.display = 'flex';
});

cross.addEventListener('click', () => {
	menu.style.display = 'flex';
	cross.style.display = 'none';

	mobileNav.style.display = 'none';
});


</script>