---
import Plan from './Plan.astro';
---

<section id="planes">
    <h2>Elige el plan prefecto para tu restaurante</h2>
    <div class="planes-list">
        <Plan id="1" />
        <Plan id="2" />
        <Plan id="3" />
    </div>
</section>

<style>
    section {
        width: 90%;
        max-width: 1500px;
        margin: auto;
        height: 1200px;
    }

    section h2 {
        text-align: center;
        font-size: 2.5rem;
        margin-bottom: 50px;
        padding-top: 80px;
    }

    .planes-list {
        display: flex;
        justify-content: space-between;
        gap: 40px;

        max-width: 100%;
        overflow-x: auto;
        margin: auto;
    }

    @media screen and (max-width: 1020px) {
        .planes-list {
            flex-direction: column;
            gap: 20px;
        }

        section {
            height: auto;
        }
    }
</style>