---
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />

		<title>Impulsa tu negocio con nosotros, el mejor servicio de desarrollo web en Menorca</title>
	</head>
	<body>
		<Header />
		<slot />
		<Footer />
	</body>
</html>

<style is:global>
	body {
		font-family: 'Imprima', sans-serif;
	}

	h1, h2, h3 {
		font-family: 'Koulen', sans-serif;
	}
</style>

<style>

@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imprima&display=swap');

html,
body {
	margin: 0;
	width: 100%;
	height: 100%;
}

:root {
	--color-green: #74B27B;
	--color-yellow: #FACF55;
	--color-red: #E96950;
	--color-white: #FDF6EF;
	--color-grey: #4A4A48;

	--color-red-hover: #D14E36;
}

</style>
